{% extends 'base.html.twig' %}

{% block title %}
Nos partenaires
{% endblock %}

{% block pagePartenaire %}
<div class="sessionPartenaireMobile">
        {{ include('réutilisable/partenaire.html.twig') }}
</div>
{% endblock %}

