.backgroundActualites {
  background-color: #000000;
  background-image: -webkit-linear-gradient(180deg, #000000 0%, #b70609 51%, #000000 100%);
  background-image: -moz-linear-gradient(180deg, #000000 0%, #b70609 51%, #000000 100%);
  background-image: -o-linear-gradient(180deg, #000000 0%, #b70609 51%, #000000 100%);
  background-image: linear-gradient(180deg, #000000 0%, #b70609 51%, #000000 100%);
}