@import "../utils/mixins";
@import "../utils/color";
@import "../utils/placement";

@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');


.equipeEsportRocketLeaguePresentation {
  background-color: #000000;
  background-image: -webkit-linear-gradient(180deg, #000000 0%, #2300ff 51%, #000000 100%);
  background-image: -moz-linear-gradient(180deg, #000000 0%, #2300ff 51%, #000000 100%);
  background-image: -o-linear-gradient(180deg, #000000 0%, #2300ff 51%, #000000 100%);
  background-image: linear-gradient(180deg, #000000 0%, #2300ff 51%, #000000 100%);
}

.equipeEsportApexLegendsPresentation {
  background-color: #000000;
  background-image: -webkit-linear-gradient(180deg, #000000 0%, #ff0004 51%, #000000 100%);
  background-image: -moz-linear-gradient(180deg, #000000 0%, #ff0004 51%, #000000 100%);
  background-image: -o-linear-gradient(180deg, #000000 0%, #ff0004 51%, #000000 100%);
  background-image: linear-gradient(180deg, #000000 0%, #ff0004 51%, #000000 100%);
}

.equipeEsportCallofDutyPresentation {
  background-color: #000000;
  background-image: -webkit-linear-gradient(180deg, #000000 0%, #28b706 51%, #000000 100%);
  background-image: -moz-linear-gradient(180deg, #000000 0%, #28b706 51%, #000000 100%);
  background-image: -o-linear-gradient(180deg, #000000 0%, #28b706 51%, #000000 100%);
  background-image: linear-gradient(180deg, #000000 0%, #28b706 51%, #000000 100%);


}


.equipe {
  margin-top: 1vh;

  @include mobile_S {
    margin-top: 5vh;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5vh;
    text-align: center;
  }

  .allCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20vw;
    margin-right: 20vw;

    @include mobile_S {
      margin-left: auto;
      margin-right: auto;
    }

    .cardEquipe {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 5vw;
    }

    .card {
      width: 18vw;
      height: 50vh;
      margin-bottom: 5vh;
      border: 2px solid $last-color;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      @include tablette {
        width: 40vw;
        height: 40vw;
      }

      @include mobile_S {
        width: 250vw;
        height: 80vw;
        margin-right: 1vh;
        margin-left: 1vh;
      }

    }

    .image {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajustement de l'image pour remplir la div sans déformation */
      }
    }

    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le titre */
      color: white;
      text-align: center;
      padding: 1vh;
      font-size: 1.5rem;
      font-weight: bold;

      @include desktop_1280 {
        font-size: 1rem;
      }

      @include desktop_1024 {
        font-size: 0.8rem;
      }

      @include tablette {
        font-size: 0.8rem;
      }
    }
  }

  .description {
    width: 50%;

    @include tablette {
      width: 100%;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      font-family: "Copperplate Gothic Bold", sans-serif;
      margin-bottom: 1vh;

      @include tablette {
        font-size: 1.2rem;
      }

      @include mobile_M {
        display: none;
      }
    }

    p {
      font-size: 1.2rem;
      margin-top: 0.5vh;
      margin-bottom: 5vh;
      line-height: 3vh;

      @include tablette {
        font-size: 0.8rem;
      }
      @include mobile_M {
        display: none;
      }
    }
  }
}
