@import "../utils/mixins";
@import "../utils/color";
@import "../utils/placement";


@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-color;
    color: $last-color;
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.button-container {
    //display: flex;
    display: none;
    background-color: white;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px,
    rgba(255, 255, 255, 0.5) 5px 10px 15px;


    @include tablette {
        display: flex;
        margin-top: 2vh;
    }
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-color;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}

header {
    height: 7vh;
    width: 100%;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    position: relative;

    #sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $main-color;
        width: 100%;
        padding: 2vh 0;

        a {
            display: block;
            text-decoration: none;
            color: $last-color;
            font-weight: bold;
            padding: 1vh 5vh;
        }
    }


    #nos-equipes:hover #sub-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.2vh;
        left: 69.5%;
        width: 10vw;
        background-color: white;
        z-index: 1;

        a {
            color: $main-color;

            &:hover {
                color: $discord-color;
            }
        }
    }

    #logo {
        margin-right: 20px;
        width: 50px;
        height: 50px;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0% 100%);
        border-radius: 5px;

        @include mobile_S {
            margin-top: 5vh;
        }
    }

    nav {
        @include tablette {
            display: none;
        }
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        cursor: pointer;

    }

    nav ul li {
        margin: 1vh 2vh 1vh 1vh;
        padding: 0;
        font-weight: bold;
    }

    nav ul li a {
        text-decoration: none;
        color: $last-color;
        font-weight: bold;
        @include desktop_1024 {
            font-size: 0.8rem;
        }
    }
}

@include tablette {
    .sub-menuMobile {
        visibility: hidden;
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 6.45vh;
        right: 15vw;
        padding: 2vw;
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px,
        rgba(255, 255, 255, 0.5) 5px 10px 15px;
        z-index: 1;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: $main-color;
            font-weight: bold;
            margin: 1vh 0;
        }
        a:hover {
            color: $discord-color;
        }
    }
}

.visible {
    visibility: visible !important;
}


/*
Bannière principale
 */
.banniere {
    display: flex;

    #imgEsport {
        width: 45vw;
        height: 93vh;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        @include desktop_1280 {
            height: 95vh;
        }

    }

    .displayNone {
        @include tablette {
            display: none;
        }
    }

    #titrePrincipal {
        width: 55vw;
        height: 30vh;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;

        @include tablette {
            width: 100%;
            height: 40vh;
            margin-top: 1vh;
        }

        @include mobile_S {
            margin-top: 10vh;
        }


        h1 {
            font-size: 3vw;
            font-weight: bold;
            margin-bottom: 3vh;
            margin-left: 5vw;
            text-decoration: underline;

            @include tablette {
                margin-left: auto;
                margin-right: auto;
            }

            @include mobile_M {
                font-size: 2rem;
            }
        }

        h2 {
            font-size: 2.1vw;
            font-weight: bold;

            @include tablette {
                margin-left: auto;
                margin-right: auto;
            }

            @include mobile_M {
                font-size: 2rem;
            }

            @include mobile_S {
                margin-top: 2vh;
            }
        }

        .borderBottom {
            border-bottom: 5px solid $last-color;
            width: 15vw;
            margin-right: 30vw;

            @include tablette {
                margin-left: auto;
                margin-right: auto;
                width: 40vw;
            }

            @include mobile_M {
                width: 50vw;
            }

            @include mobile_S {
                width: 80vw;
            }
        }

        #textUn {
            margin-right: 25vw;
            margin-top: 10vh;
            width: 40%;

            @include desktop_1024 {
                margin-left: 20vw;
                width: 70%;
            }

            @include tablette {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
        }

        #textDeux {
            margin-left: 20vw;
            margin-top: 10vh;
            width: 40%;

            @include desktop_1024 {
                margin-top: 1vh;
                margin-left: 10vw;
                width: 70%;
            }

            @include tablette {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            @include mobile_S {
                margin-top: 2vh;
            }

            a {
                text-decoration: none;
                color: $discord-color;
                font-weight: bold;
            }
        }

        .buttonA {
            width: 10vw;
            height: 6vh;
            padding: 5px;
            background-color: $main-color;
            font-size: 1.5rem;
            font-weight: bold;
            border: 3px solid $last-color;
            border-radius: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 60vh;
            cursor: pointer;

            @include desktop_1536 {
                margin-top: -10vh;
                font-size: 1.1rem;
            }

            @include desktop_1280 {
                margin-top: 10vh;
                margin-left: 60vw;
                font-size: 1rem;
            }

            @include desktop_1024 {
                margin-top: 5vh;
                margin-left: 50vw;
                font-size: 0.9rem;
            }

            @include tablette {
                width: 13vh;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5vh;
                padding: 3vw;
                font-size: 0.9rem;
            }

            @include mobile_S {
                margin-top: 5vh;
                font-size: 0.9rem;
                padding: 7vw 10vh;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

/*
Nos équipes
 */

.nosEquipes {

    margin-bottom: 1vw;

    @include desktop_1024 {
    margin-left: 10vw;
    }

    @include tablette {
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }

    @include mobile_M {
        margin-top: 30vh;
    }

    @include mobile_S {
        margin-top: 70vh;
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-align: center;

        @include mobile_S {
            font-size: 2.3rem;
        }
    }

    .allCard {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;

        @include desktop_1024 {
            margin-left: 10vw;
            margin-right: 10vw;
        }
        @include mobile_M {
            flex-direction: column;
        }

        .card {
            width: 18vw;
            height: 50vh;
            border: 2px solid $last-color;
            border-radius: 5px;
            overflow: hidden; /* Pour cacher le dépassement de contenu */

            @include tablette {
                width: 25vw;
                height: 40vh;
            }

            @include mobile_M {
                width: 70vw;
                height: 30vh;
                margin-top: 1vh;
            }
        }

        .image {
            width: 100%;
            height: 100%;
            position: relative;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le titre */
            color: white;
            text-align: center;
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

/*
EquipeRocket Esport
 */

.competitionEsport {
    position: relative;
    margin-top: 15vh;
    width: 100%;

    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;

        @include tablette {
            height: 30vh;
        }

        @include tablette {
            margin-top: 3vh;
        }

        @include mobile_M {
            height: 40vh;
        }
    }

    .fenetre {
        position: absolute;
        background-color: #000209;
        border-radius: 5px;
        width: 27vw;
        height: 65vh;
        right: 10%;
        bottom: -10%;
        border: 2px solid $last-color;
        opacity: 1;
        transition: opacity 3s ease-in-out;

        @include desktop_1024 {
            width: 30vw;
            height: 70vh;
            right: 5%;
            bottom: -20%;
        }

        @include tablette {
            width: 40vw;
            height: 63vh;
            right: 30%;
            top: -10vh;
        }

        @include mobile_M {
            width: 80vw;
            height: 63vh;
            right: 10%;
            top: -10vh;
        }

        @include mobile_S {
            height: 70vh;
        }

        .fenetre:hover {
            opacity: 2;
        }

        h2 {
            color: $last-color;
            font-family: Calibri, serif;
            text-align: center;
            margin-top: 2vh;
            border-bottom: 2px solid $main-color;
            border-bottom-style: dashed;
            // Mettre de l'espace entre mon border
            padding-bottom: 1vh;
            width: 20vw;
            margin-left: auto;
            margin-right: auto;

            @include mobile_M {
                width: 50vw;
            }
        }

        .imageCompet {
            position: relative; /* Ajoutez une position relative pour que les éléments internes se positionnent par rapport à cette div */


            img {
                margin-top: 2vh;
                width: 80%;
                height: 15vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 5px;
            }

            .titleCompet {
                position: absolute;
                bottom: 0;
                left: 2.5vw;
                width: 85%;
                background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le titre */
                color: white;
                text-align: center;
                padding: 0.5vh;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        .dateCompet {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 15vh;
            transform: translate(-50%, -50%);
            background-color: #000209;
            border: 1px solid white;
            opacity: 0;
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 2vh 3vw;
            font-size: 1.5rem;
            font-weight: bold;
            display: none;
            transition: opacity 3s ease-in-out;

            @include tablette {
                width: 90%;
                padding: 1vh 2vw;
                font-size: 1.2rem;
            }

            @include mobile_S {
                width: 90%;
                padding: 1vh 2vw;
                font-size: 1rem;
            }
        }

        .imageCompet:hover .dateCompet {
            display: block;
            opacity: 1;
            padding-top: 4.5vh;
        }
    }
}

.twitch {
    margin-top: 55vh;
    background-color: #000000;
    background-image: -webkit-linear-gradient(180deg, #000000 0%, #5b21b6 100%);
    background-image: -moz-linear-gradient(180deg, #000000 0%, #5b21b6 100%);
    background-image: -o-linear-gradient(180deg, #000000 0%, #5b21b6 100%);
    background: linear-gradient(180deg, #000000 0%, #5b21b6 50%, #000000 100%);

    display: flex;
    justify-content: space-between;

    .cardTwitch {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 2vw;

        .cardStreamerAll {
            display: flex;
            flex-direction: column;
            align-items: center;

            .twitchLogo  img{
                width: 12vw;
                margin-bottom: 2vh;
                animation: jump 2s infinite;

                @include tablette {
                    width: 30vw;
                }

                @include mobile_M {
                    width: 50vw;
                    margin-top: 5vh;
                }
            }

            .streamerPartenaire {
                display: flex;
                flex-direction: row;

                @include tablette {
                    flex-direction: column;
                }

                @include mobile_S {
                    margin-left: -5vw;
                }
            }

            .cardStreamer {
                position: relative;

                p {
                    font-size: 3vh;
                }

                img {
                    border: 2px solid $last-color;
                    margin: 1vh 10vw;

                    @include mobile_S {
                        width: 60vw;
                    }
                }

                .nameStreamer {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 0.5vh 1vw;
                    border-radius: 5px;
                    display: none;
                }
            }

            .cardStreamer a:hover .nameStreamer {
                display: block;
            }

        }
    }

}

@keyframes jump {
    0% {
        transform: translateY(0); /* L'image reste à sa position d'origine au début de l'animation */
    }
    50% {
        transform: translateY(-10px); /* L'image saute vers le haut à mi-chemin de l'animation */
    }
    100% {
        transform: translateY(0); /* L'image revient à sa position d'origine à la fin de l'animation */
    }
}


.actualites {
    margin-top: 7vh;
    margin-bottom: 5vh;
    text-align: center;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2vh;
    }

    .allActualites {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .cardActualite {
        width: 300px;
        border-radius: 10px;
        background-color: $last-color;
        overflow: hidden;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05); /* Add a hover effect */
        }

        .card-image {
            img {
                width: 100%;
                height: auto;
            }
        }

        .card-content {
            padding: 1rem;
            text-align: left;

            h3 {
                color: $main-color;
                font-size: 1rem;
                font-weight: bold;
                margin-top: 0.2rem;
                margin-bottom: 0.5rem;
            }

            p {
                color: $main-color;
                font-size: 0.9rem;
                margin-bottom: 1rem;
            }

            a {
                text-decoration: none;
                color: $discord-color;
                font-weight: bold;
            }
        }
    }
}


.compteur {
    .imgClavierGaming {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }

        .cardStats {
            background-color: white;
            width: 10vw;
            height: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include desktop_1024 {
                width: 15vw;
                height: 15vw;
            }

            @include tablette {
                width: 20vw;
                height: 20vw;
                margin-left: 1vw;
            }

            @include mobile_M {
                width: 30vw;
                height: 20vw;
                margin-left: 1vw;
            }

            @include mobile_S {
                width: 35vw;
                height: 10vh;
            }

            p {
                color: $main-color;
                opacity: 1;
                font-size: 1.5rem;
                text-align: center;

                @include desktop_1024 {
                    font-size: 1.2rem;
                }

                @include mobile_M {
                    font-size: 1rem;
                }

                @include mobile_S {
                    font-size: 0.6rem;
                }
            }

            .number {
                font-weight: bold;
                font-size: 3rem;

                @include mobile_S {
                    font-size: 2rem;
                }
            }
        }
    }

    .cardsContainer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 25%;
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        opacity: 0.8;

        @include mobile_M {
            top: 35%;
        }
    }
}