@import "../utils/mixins";
@import "../utils/color";
@import "../utils/placement";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-color;
    color: $last-color;
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
}

header {
    height: 65px;
    width: 100%;
    background-color: white;
}

/*
Bannière principale
 */
.banniere {
    display: flex;

    #imgEsport {
        width: 45%;
        height: 900px;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #titrePrincipal {
        width: 55%;
        height: 900px;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: 150px;
            text-decoration: underline;
        }

        h2 {
            font-size: 2rem;
            font-weight: bold;
        }

        .borderBottom {
            border-bottom: 5px solid $last-color;
            width: 250px;
            margin-right: 700px;
        }

        #textUn {
            margin-right: 500px;
            margin-top: 100px;
            width: 40%;
        }

        #textDeux {
            margin-left: 500px;
            margin-top: 100px;
            width: 40%;

            a {
                text-decoration: none;
                color: #3b82f6;
                font-weight: bold;
            }
        }

        .buttonA {
            width: 170px;
            height: 50px;
            background-color: $main-color;
            font-size: 20px;
            font-weight: bold;
            border: 3px solid $last-color;
            border-radius: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-right: 600px;
            cursor: pointer;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

/*
Nos équipes
 */

.nosEquipes {

    margin-bottom: 100px;

    h2 {
        margin-top: -50px;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    }

    .allCard {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;

        .card {
            width: 350px;
            height: 500px;
            border: 2px solid $last-color;
            border-radius: 5px;
            overflow: hidden; /* Pour cacher le dépassement de contenu */
        }

        .image {
            width: 100%;
            height: 100%;
            position: relative; /* Pour positionner le titre par rapport à l'image */
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ajustement de l'image pour remplir la div sans déformation */
        }

        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le titre */
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

/*
Equipe Esport
 */

.equipeEsport {
    position: relative; /* Ajoutez cette ligne pour définir le contexte de positionnement */

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .fenetre {
        position: absolute; /* Positionnement absolu par rapport au parent .equipeEsport */
        background-color: #000209;
        border-radius: 5px;
        width: 500px;
        height: 600px;
        right: 300px; /* Ajustez la valeur pour définir la distance depuis le bord droit */
        margin-top: -550px;
        border: 2px solid $last-color;
        opacity: 1;
        transition: opacity 3s ease-in-out;

        .fenetre:hover {
            opacity: 2; /* Réduisez l'opacité au survol */
        }

        h2 {
            color: $last-color;
            font-family: Calibri;
            text-align: center;
            margin-top: 20px;
            border-bottom: 2px solid $main-color;
            border-bottom-style: dashed;
            // Mettre de l'espace entre mon border
            padding-bottom: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .imageCompet {
            position: relative; /* Ajoutez une position relative pour que les éléments internes se positionnent par rapport à cette div */


            img {
                margin-top: 20px;
                width: 80%;
                height: 150px;
                // Centrer mon image
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 5px;
            }

            .titleCompet {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le titre */
                color: white;
                text-align: center;
                padding: 10px;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        .dateCompet {
            position: absolute;
            top: 50%; /* Centrez verticalement la date */
            left: 50%; /* Centrez horizontalement la date */
            width: 80%;
            height: 150px;
            transform: translate(-50%, -50%); /* Ajustez la position */
            background-color: #000209;
            border: 1px solid white;
            opacity: 1;
            border-radius: 5px;
            color: white;
            text-align: center;
            padding: 55px;
            font-size: 1.5rem;
            font-weight: bold;
            display: none; /* Masquez la date par défaut */
        }

        .imageCompet:hover .dateCompet {
            display: block; /* Affichez la date au survol de la carte */

        }
    }
}

.partenaire {
    padding-top: 100px;
    position: relative; /* Permet de positionner les cartes de manière absolue par rapport à ce conteneur */

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    }

    .cardPartenaire {
        width: 550px;
        height: 200px;
        border: 2px solid $last-color;
        position: absolute; /* Position absolue par rapport au conteneur parent */

        &.left-card {
            left: 150px; /* Positionne la carte de gauche à gauche du conteneur parent */
            top: 200px; /* Positionne la carte de gauche en haut du conteneur parent */
        }

        &.right-card {
            right: 150px; /* Positionne la carte de droite à droite du conteneur parent */
            top: 300px; /* Positionne la carte de droite légèrement en bas de celle de gauche */
        }



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}




