@import "../utils/mixins";
@import "../utils/color";
@import "../utils/placement";

@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');

.partenaire {
  .cardPartenaire {

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1vh;
      text-align: center;
    }

    .descriptionPartenaire {
        font-size: 1rem;
        font-weight: 400;
      margin-bottom: 1vh;
        text-align: center;
        line-height: 2.5vh;
    }
    .reseau {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 1vh;

      img {
        width: 2vw;
        height: 2vw;
        object-fit: cover;
        margin: 0 0.5vw;
      }
    }
  }
}