{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block equipeCallOfDuty %}
    <div class="equipeRocketLeague">
        <h2>Call of duty</h2>
        <div class="allCard">

            <div class="cardEquipe">
                <div class="card" data-aos="fade-right" data-aos-duration="2000">
                    <div class="image">
                        <img src="{{ asset('./assets/medias/images/portraitDeux.jpg') }}" alt="Équipe Apex">
                        <h3 class="title">Capitaine : Luna Alamel</h3>
                    </div>
                </div>
                <p class="description">
                    Joueuse de Rocket League depuis 2018, Alasha est une joueuse polyvalente. Elle a commencé à jouer à Rocket League en 2018 et a
                    commencé à jouer en compétition en 2019. Elle a commencé à jouer en compétition en 2019. Elle a commencé à jouer en compétition en 2019.
                </p>
            </div>


            <div class="cardEquipe">
                <div class="card">
                    <div class="image">
                        <img src="{{ asset('./assets/medias/images/portraitUn.jpg') }}" alt="Équipe Apex">
                        <h3 class="title">Joueur 2 : Alasha Mardevick</h3>
                    </div>
                </div>
                <p class="description">
                    Joueuse de Rocket League depuis 2018, Alasha est une joueuse polyvalente. Elle a commencé à jouer à Rocket League en 2018 et a
                    commencé à jouer en compétition en 2019. Elle a commencé à jouer en compétition en 2019. Elle a commencé à jouer en compétition en 2019.
                </p>
            </div>

            <div class="cardEquipe">
                <div class="card" data-aos="fade-left" data-aos-duration="2000">
                    <div class="image">
                        <img src="{{ asset('./assets/medias/images/portraitTrois.jpg') }}" alt="Équipe Apex">
                        <h3 class="title">Joueur 3 : Bobo Aldiente</h3>
                    </div>
                </div>
                <p class="description">
                    Joueuse de Rocket League depuis 2018, Alasha est une joueuse polyvalente. Elle a commencé à jouer à Rocket League en 2018 et a
                    commencé à jouer en compétition en 2019. Elle a commencé à jouer en compétition en 2019. Elle a commencé à jouer en compétition en 2019.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

