{% extends 'base.html.twig' %}

{% block title %}Nos équipes {% endblock %}

{% block equipe %}
    <div class="pageEquipeEsport">
        {{ include('home/allEquipe.html.twig') }}
    </div>

{% endblock %}