{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block equipeRocketLeague %}
    <div class="equipeRocketLeague">
        <h2>Rocket League</h2>
        <div class="allCard">

            <div class="card" data-aos="fade-right" data-aos-duration="2000">
                <div class="image">
                    <img src="{{ asset('./assets/medias/images/portraitUn.jpg') }}" alt="Équipe Apex">
                    <h3 class="title">Luna Alamel</h3>
                    <p class="description">
                        Luna alanel, 24 ans est une joueuse de Rocket League depuis 2015. Elle a commencé à jouer sur PS4 et a migré sur PC en 2017. Elle a commencé à jouer en compétition en 2016 et a participé à plusieurs tournois en ligne et LAN. Elle a rejoint l'équipe Apex en 2019.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="{{ asset('./assets/medias/images/portraitTrois.jpg') }}" alt="Équipe Apex">
                    <h3 class="title">Alasha Mardevick</h3>
                    <p class="description">
                        Alasha Mardevick, 26 ans est une joueuse de Rocket League depuis 2015. Elle a commencé à jouer sur PS4 et a migré sur PC en 2017. Elle a commencé à jouer en compétition en 2016 et a participé à plusieurs tournois en ligne et LAN. Elle a rejoint l'équipe Apex en 2019.
                    </p>
                </div>
            </div>

            <div class="card" data-aos="fade-left" data-aos-duration="2000">
                <div class="image">
                    <img src="{{ asset('./assets/medias/images/portraitDeux.jpg') }}" alt="Équipe Apex">
                    <h3 class="title">Bobo Aldiente</h3>
                    <p class="description">
                        Alasha Mardevick, 26 ans est une joueuse de Rocket League depuis 2015. Elle a commencé à jouer sur PS4 et a migré sur PC en 2017. Elle a commencé à jouer en compétition en 2016 et a participé à plusieurs tournois en ligne et LAN. Elle a rejoint l'équipe Apex en 2019.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



