{% block actualites %}
    <div class="actualites">
        <h2>NOS ACTUALITÉS</h2>
        <div class="allActualites">
            {% for actualite in actualites %}
                <div class="cardActualite" data-aos="fade-up" data-aos-duration="2000">
                    <div class="card-image">
                        <img src="{{ asset('medias/images/actualite/' ~ actualite.images) }}" alt="Bannière nouvelle annonce">
                    </div>
                    <div class="card-content">
                        <h3>{{ actualite.title }}</h3>
                        <p>{{ actualite.description }}</p>
                        <p>Rendez-vous sur le <a href="{{ actualite.link }}">Discord</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
